rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /pending_seals/{id} {
      allow read, write: if true;
    }
  }
}